<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <!--
    	spring 负责扫描  @Component， @Service，@Repository 以及service的切面
    --> 
	<context:component-scan base-package="com.syj.ssm.component;com.syj.ssm.service;com.syj.ssm.aop.service"/>
	
    <context:property-placeholder location="classpath:*.properties" />
    
    <import resource="spring/**/*.xml" />
</beans>